.nav-btn {
  display: none;
}

.hamburger {
  @apply w-8 text-gray-700;
}

.nav-items {
  @apply flex items-center gap-4 p-4;
  box-sizing: border-box;
}

.nav-link {
  @apply block w-full px-3 py-2 rounded text-gray-400 items-center justify-center  hover:text-gray-600 hover:bg-gray-100;
}

.logout-btn {
  @apply block w-full px-3 py-2 rounded text-gray-400 items-center justify-center  hover:text-gray-600 hover:bg-red-200;
}

.nav-link.active {
  @apply text-gray-600 bg-green-200;
}

@media (max-width: 600px) {
  .nav-btn {
    display: block;
  }

  .nav-items {
    @apply bg-green-100  absolute z-10 flex-col pt-6  top-[100px] right-0 w-0 overflow-hidden h-[calc(100vh-100px)] p-0;
    transition: all 0.3s ease-in;
  }

  .nav-items li {
    @apply w-full text-center;
  }

  .nav-items.nav-active {
    @apply w-[200px];
  }
}
