.new-todo-wrapper {
  @apply p-6 pt-10 border-2 border-dashed rounded w-96 h-48;
  box-sizing: border-box;
}

.text-input {
  @apply outline-none border-transparent p-1;
  border-width: 1px;
  border-style: solid;
}

.text-input:focus {
  @apply border-green-200 rounded;
  border-width: 1px;
  border-style: solid;
}

.submit-btn {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

.submit-btn:enabled:hover {
  opacity: 0.75;
}

.submit-btn:disabled {
  opacity: 0.5;
}

textarea {
  resize: none;
}

.todo-validation-error {
  @apply absolute text-sm text-red-300 right-1 top-1;
}
