.todo-wrapper {
  @apply p-6 pt-10 border-2 rounded w-96 h-48;
  box-sizing: border-box;
}

.submit-btn {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

.delete-btn {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;

  color: salmon;
}

.by {
  @apply absolute bottom-2 right-4 text-xs text-green-500;
}

textarea {
  resize: none;
}
