.todo-wrapper {
  @apply relative p-4 pt-8 border-2 rounded w-80 sm:w-96 h-48 hover:shadow-md;
  box-sizing: border-box;
}

.text-input {
  @apply outline-none border-transparent p-1 rounded-sm;
  border-width: 1px;
  border-style: solid;
}

.text-input:focus {
  @apply border-green-200 rounded;
  border-width: 1px;
  border-style: solid;
}

.by {
  @apply absolute flex gap-2 items-center bottom-1 right-2 text-xs text-gray-500;
  cursor: default;
}

textarea {
  resize: none;
}

.todo-validation-error {
  @apply absolute text-sm text-red-300 right-1 top-1;
}

.to-be-deleted {
  @apply border-red-400 bg-red-300;
}

.to-be-updated {
  @apply border-orange-400 bg-orange-300;
}
